

    <div class="card mb-4 mt-1"  id="{{widget.widget_id}}">
          <div class="card-body">
            <div class="row">
               <div class="col-md-12">
                    <h3 id="{{widget.widget_id}}title"></h3>
                    <hr>
                </div>
            </div>
              <div class="row">

                <div class="col-md-8">
                    <div id="{{widget.widget_id}}filters"></div>
                </div>
                <div class="col-md-4">
                    <button id="{{widget.widget_id}}date_selector"
                            class="btn btn-sm btn-outline-secondary float-right dropdown-toggle">
                        <span></span>

                    </button>
                </div>
            </div>


            <div class="row">

                <div class="col-md-12">
                    {% if widget.facet_range %}
                    <div id="{{widget.widget_id}}graph">
                        <div id="chart{{widget.widget_id}}">
                            <svg></svg>
                        </div>
                    </div>
                    {% endif %}
                    <div id="{{widget.widget_id}}data">
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="{{widget.widget_id}}pagination">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p id="{{widget.widget_id}}pagination-text"></p>
                            </div>

                        </div>
                    </div>
                    <input type="hidden" id="{{widget.widget_id}}page" value="0">
                </div>
            </div>
        </div>
    </div>


{% block django_dashboard_bs4_media %}
<script type="text/javascript">
    $(function () {

        var widget_id = "{{widget.widget_id}}";
        var start = moment().subtract(29, 'days');
        var end = moment();

        var widget_config = {{widget | safe}};


        $('#{{widget.widget_id}}title').html(widget_config.name);
        function generate_query(widget_config, selected_start_date, selected_end_date, page, query_dict) {

            function format_date_for_solr(dd) {
                return dd + "T00:00:00Z";
            }

            var qs = widget_config.API;
            var fl = widget_config['fields'].join(",");
            qs += "?fl=" + fl;
            qs += "&rows=" + widget_config['paginate_by'];
            qs += "&page=" + page;
            if (selected_start_date && selected_end_date) {
                qs += "&fq__" + widget_config.filter_date_field + "=[" + format_date_for_solr(selected_start_date) + " TO " + format_date_for_solr(selected_end_date) + "]"
            }
            if (widget_config.facet_range) {
                qs += "&facet_date_field=" + widget_config.filter_date_field;
            }
            if (query_dict) {
                $.each(query_dict, function (k, v) {
                    qs += "&fq__" + k + "=" + v;
                });
            }
            //&facet_date_field_start=2018-03-01T00:00:00Z&facet_date_field_end=2018-05-01T00:00:00Z
            if (widget_config.filter_date_field) {
                if (selected_start_date) {
                    qs += "&facet_date_field_start=" + format_date_for_solr(selected_start_date);
                }
                if (selected_end_date) {
                    qs += "&facet_date_field_end=" + format_date_for_solr(selected_end_date);
                }
            }

            console.log(qs);
            return qs;
        }

        function set_pagination_listeners() {
            $("." + widget_id + "page").click(function () {
                var el = $(this);
                var page = el.attr('data-page');



                var selected_dates  = get_selected_dates();
                console.log(selected_dates);
                paginate_data(page);
            });
        }

        function get_selected_dates() {
            var selected_date_string = $("#" + widget_id + "date_selector span").html();
            console.log(selected_date_string);

            function format_date(dd) {
                dd = new Date(dd);
                console.log(dd);
                return dd.getFullYear() + "-" + (dd.getMonth() < 9 ? '0' : '') + (dd.getMonth() + 1) + "-" + dd.getDate();
            }

            console.log("selected_date_string: ", selected_date_string);
            if (selected_date_string) {
                var selected_start_date_dt = selected_date_string.split("-")[0].replace(/^\s+|\s+$/g, '');
                var selected_end_date_dt = selected_date_string.split("-")[1].replace(/^\s+|\s+$/g, '');

                selected_start_date = format_date(selected_start_date_dt);
                selected_end_date = format_date(selected_end_date_dt);

            } else {
                var selected_start_date = null;
                var selected_end_date = null;

            }
            return {
                selected_start_date: selected_start_date,
                selected_end_date: selected_end_date
            }
        }

        function paginate_data(page_num) {
            //check there are any dates selected, if yes use it or null

            var selected_dates = get_selected_dates();
            console.log("paginate_data :", selected_dates);
            if (selected_dates.selected_start_date){
                var selected_start_date = selected_dates.selected_start_date;

            } else{
                var selected_start_date = widget_config.start_date;
            }

            if (selected_dates.selected_end_date){
                var selected_end_date = selected_dates.selected_end_date;
            }else{
                var selected_end_date = widget_config.end_date;
            }
            console.log(selected_start_date, selected_end_date);

            get_page_date(page_num, selected_start_date, selected_end_date); // no start and end date added;
        }


        function render_pagination(page, data) {


            // for (i = 1; i <= parseInt(data.data.docs_total_pages); i++) {
            //     pagination_html += '<li class="page-item"><a href="#" class="page-link {{widget.widget_id}}page" data-page="' + i + '">' + i + '</a></li>';
            // }


            function get_pages(page, totalPages) {

                $pagination_elems = [];
                page = parseInt(page);
                if (totalPages > 1) {

                    SHOW_MAX_PAGES = 5;

                    var pages_toshow = [];
                    var minPage = 1;
                    var maxPage = 5;
                    if (totalPages >= SHOW_MAX_PAGES) {
                        x = totalPages - page;

                        if (x >= SHOW_MAX_PAGES) { // 16 > 2
                            minPage = page;
                            maxPage = page + SHOW_MAX_PAGES;
                        } else {
                            pages_to_right_count = totalPages - page;
                            pages_to_left_count = SHOW_MAX_PAGES - pages_to_right_count;
                            minPage = page - pages_to_left_count;
                            maxPage = page + pages_to_right_count;
                        }
                    } else {
                        // show all the pages
                        pages_to_right_count = totalPages - page;
                        pages_to_left_count = SHOW_MAX_PAGES - pages_to_right_count;
                        minPage = page - pages_to_left_count;
                        maxPage = page + pages_to_right_count;
                    }
                    if (minPage <= 0) {
                        minPage = 1;
                    }


                    if (page > 0) {


                        if ((page - 1) >= 1 && totalPages >= SHOW_MAX_PAGES) {
                            $pagination_elems.push('<li class="page-item next "><a href="javascript:void();" data-page="1" class="page-link {{widget.widget_id}}page"><span class=" fa fa-angle-double-left"></span><<</a></li>');
                            $pagination_elems.push('<li class="page-item next "><a href="javascript:void();"  data-page="' + (page - 1) + '" class="page-link {{widget.widget_id}}page"><span class="fa fa-angle-left"></span><</a></li>');
                        }
                        for (i = minPage; i <= maxPage; i++) {
                            if (i == page) {
                                active = "active"
                            } else {
                                active = "";
                            }
                            $pagination_elems.push('<li class="page-item ' + active + '"><a href="javascript:void();"  data-page="' + i + '" class="page-link {{widget.widget_id}}page">' + i + '</a></li>');
                        }

                        if (maxPage != totalPages && totalPages >= SHOW_MAX_PAGES) {
                            $pagination_elems.push('<li class="page-item next "><a href="javascript:void();"  data-page="' + (page + 1) + '" class="page-link {{widget.widget_id}}page"><span class=" fa fa-angle-right "></span>> </a></li>');
                            $pagination_elems.push('<li class="page-item next "><a href="javascript:void();"  data-page="' + totalPages + '" class="page-link {{widget.widget_id}}page"><span class=" fa fa-angle-double-right"></span> >> </a></li>');

                        }
                    }


                }
                return $pagination_elems;

            }


            $pagination_elems = get_pages(page, data.data.docs_total_pages);
            console.log($pagination_elems);

            var pagination_html = '<nav> <ul class="pagination">';
            pagination_html += $pagination_elems.join("");

            pagination_html += '</ul> </nav>';

            $('#{{widget.widget_id}}pagination').html(pagination_html);
            $('#{{widget.widget_id}}pagination-text').html("Showing page " + page + " of total " + data.data.docs_total_pages + " pages");
            set_pagination_listeners()

        };


        function render_filters(widget_config) {

            var filter_nav = '<ul class="nav">';
            $.each(widget_config['filters'], function (i, v) {
                filter_nav += '<li class="nav-item"> <a class="nav-link {{widget.widget_id}}filter_class" data-key="' + v.key + '" data-value="' + v.value + '" href="javascript:void();" >' + v.display_name + '</a></li>'
            });
            $('#{{widget.widget_id}}filters').html(filter_nav);

            $('.{{widget.widget_id}}filter_class').click(function () {
                $el = $(this);
                var selected_dates = get_selected_dates();
                selected_filter = {}
                selected_filter[$el.attr('data-key')] = $el.attr('data-value');
                get_page_date(1, selected_dates.selected_start_date, selected_dates.selected_end_date, selected_filter); // no start and end date added;

            });
        };

        function render_table(docs) {
            first_row = docs[0];
            table_header = "<tr>";

            header_keys = [];
            $.each(first_row, function (key, value) {
                header_keys.push(key);
                table_header += '<th>' + key + '</th>';
            });
            table_header += "</tr>";
            var table_html = '<thead>' + table_header + ' </thead> <tbody>';
            $.each(docs, function (idx, row) {
                table_html += '<tr>';
                $.each(header_keys, function (key, value) {
                    table_html += '<td>' + row[value] + '</td>';
                });
                table_html += '</tr>';
            });

            table_html += '</tbody>';
            $('#{{widget.widget_id}}data').html("<table class='table table-striped table-bordered'>" + table_html + "</table>");

        };

        function clean_graph(){
            $($('#chart{{widget.widget_id}}').find('svg')[0]).html("");
        }

        function render_graph(display_name, data) {

            function reformat_dictionary_for_d3(display_name, list_of_dicts) {

                var values_list = [];
                $.each(list_of_dicts, function (i, each_row) {
                    $.each(each_row, function (k, v) {
                        values_list.push([k.replace("T", " "), v])
                    });
                });
                return {
                    "key": display_name,
                    "bar": true,
                    "values": values_list
                }
            }

            var graph_selector = '#chart{{widget.widget_id}} svg';
            // $(graph_selector).remove();

            data = [reformat_dictionary_for_d3(display_name, data)];
            console.log(data);

            nv.addGraph(function () {
                var chart = nv.models.linePlusBarChart()
                // .margin({top: 30, right: 60, bottom: 50, left: 70})
                    .x(function (d, i) {
                        return i;
                    })
                    .y(function (d) {
                        return d[1]
                    })
                    .color(d3.scale.category10().range());

                chart.xAxis
                // .showMaxMin(false)
                    .tickFormat(function (d) {
                        var dx = data[0].values[d] && data[0].values[d][0] || 0;
                        return d3.time.format('%x')(new Date(dx))
                    });

                chart.y1Axis
                    .tickFormat(d3.format(',f'));

                // chart.y2Axis
                //     .tickFormat(function (d) {
                //         return '$' + d3.format(',f')(d)
                //     });
                chart.focusEnable(false)

                chart.bars.forceY([0]);

                d3.select(graph_selector)
                    .datum(data)
                    .transition().duration(500)
                    .call(chart)
                ;

                nv.utils.windowResize(chart.update);

                return chart;
            });


        };

        function get_page_date(page, selected_start_date, selected_end_date, query_dict) {
            var api_url = generate_query(widget_config, selected_start_date, selected_end_date, page, query_dict);


            console.log(selected_start_date)
            $($('#{{widget.widget_id}}date_selector').find('span')[0]).html(moment(selected_start_date).format('MMMM D, YYYY') + " - "+ moment(selected_end_date).format('MMMM D, YYYY'));

            clean_graph();
            $.get(api_url, function (data, status) {
                var docs = data.data.docs;

                if (docs.length > 0) {
                    render_table(docs);
                    render_pagination(page, data);
                    render_filters(widget_config);
                    if (data.data.facets) {
                        $.each(data.data.facets.facet_ranges, function (k, v) {
                            render_graph(k, data.data.facets.facet_ranges[k]['counts']);

                        });
                    }

                }

                else {
                    $('#{{widget.widget_id}}data').html("<p>No data exist with this criteria</p>");
                    $('#{{widget.widget_id}}pagination').html("");
                }


            });
        }

        function process_date_filter(start, end) {
            var selected_start_date = start.format('YYYY-MM-D');
            var selected_end_date = end.format('YYYY-MM-D');

            $('#' + widget_id + 'date_selector span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            page = 1;
            get_page_date(page, selected_start_date, selected_end_date);


        };


        $('#{{widget.widget_id}}date_selector').daterangepicker({
            startDate: start,
            endDate: end,
            timePicker: true,

            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
        }, process_date_filter);

        paginate_data(1);

    })
    ;
</script>
{% endblock %}