{% extends 'base.html' %}


{% block content %}

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">

        {% include 'left-navbar.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                    </div>
                    <button id="reportrange" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span></span>
                        This week
                    </button>
                </div>
            </div>
            <div id="element_data">

            </div>
            <div id="element_pagination">
                <a href="#" class="widget_page" data-page="1">1</a>&nbsp;
                <a href="#" class="widget_page" data-page="2">2</a>&nbsp;
            </div>
            <input type="text" id="element_page" value="0">


        </main>
    </div>
</div>

{% endblock %}


{% block django_dashboard_bs4_media %}
<script type="text/javascript">
    $(function () {

        var widget_id = "widget_";
        var start = moment().subtract(29, 'days');
        var end = moment();

        var widget_config = {
            API: "/api/indexing/solr/weblinks",
            fields: ['id', 'domain_s', 'created_dt'],
            filters: [],
            paginate_by: 2,
            paginate_show_rows: 2,
            filter_date_field: "created_dt"
        };

        function generate_query(widget_config, selected_start_date, selected_end_date, page) {

            function format_date(dd){
                return dd + "T00:00:00Z";
            }
            var qs = widget_config.API;
            var fl = widget_config['fields'].join(",");
            qs += "?fl=" + fl;
            qs += "&rows=" + widget_config['paginate_show_rows'];
            qs += "&page=" + page;
            if (selected_start_date && selected_end_date){
                qs += "&fq__"+widget_config.filter_date_field +"=[" + format_date(selected_start_date)+" TO "+format_date(selected_end_date)+"]"
            }
            console.log(qs);
            return qs;
        }


        $("." + widget_id + "page").click(function () {
            var el = $(this);
            var page = el.attr('data-page');
            console.log(page);
            paginate_data(page);
        });

        function paginate_data(page_num) {
            // var curret_page = parseInt($('#element_page').val()) + 1;
            // $('#element_page').val(curret_page);
            // selected_start_date = "2018-01-11";
            // selected_end_date = "2018-05-11";

            get_page_date(page_num, null, null)

        }

        function get_page_date(page, selected_start_date, selected_end_date) {
            var api_url = generate_query(widget_config, selected_start_date, selected_end_date, page);
            console.log(widget_config);

            $.get(api_url, function (data, status) {
                console.log("Data: " + data.data.docs + "\nStatus: " + status);
                var docs = data.data.docs;

                if (docs.length > 0) {

                    first_row = docs[0];
                    table_header = "<tr>";

                    header_keys = [];
                    $.each(first_row, function (key, value) {
                        header_keys.push(key);
                        table_header += '<th>' + key + '</th>';
                    });
                    table_header += "</tr>";
                    var table_html = '<thead> ' + table_header + ' </thead> <tbody>';
                    $.each(docs, function (idx, row) {
                        table_html += '<tr>';
                        $.each(header_keys, function (key, value) {
                            table_html += '<td>' + row[value] + '</td>';
                        });
                        table_html += '</tr>';
                    });

                    table_html += '</tbody>';
                    $('#element_data').html("<table class='table table-striped table-bordered'>" + table_html + "</table>");
                }else{
                        $('#element_data').html("<p>No data exist with this criteria</p>");

                }

            });
        }

        function process_date_filter(start, end) {
            var selected_start_date = start.format('YYYY-MM-D');
            var selected_end_date = end.format('YYYY-MM-D');
            console.log(selected_start_date, selected_end_date);


            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            page = 1;
            get_page_date(page, selected_start_date, selected_end_date);


        };


        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            timePicker: true,

            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
        }, process_date_filter);

        paginate_data(1);

    });
</script>
{% endblock %}